<div  class="card">
    <h1>LOGIN</h1>
    <div class="card-body col-12"  >
        <form  >
            <div class="col-12">
                <input  type="text" name="nome" id="nome" ng-model="registroDTO.nome">
            </div>
            <div class="col-12">
                <input class="col-12" type="password" name="password" id="password" ng-model="registroDTO.password">
            </div>
            <button  type="submit" ng-click="logarUsuario()" class="btn btn-primary">Logar</button>
        </form>
        
    </div>
</div>