<main ng-controller="personagensController" role="main">
    <div class="container">
        <br>
        <br>
        <br>
        <div class="card">
            <div class="card-body">
                <form class="form-horizontal">
                    <div class="form-group row">
                        <input type="text" id="pesquisa" ng-model="pesquisa" placeholder="Digite a pesquisa">
                    </div>
                </form>
                <table  class="table table-dark table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome do Personagem</th>
                            <th scope="col">Foto</th>
                        </tr>
                    </thead>
                <tbody>
                    <tr ng-repeat-start="personagensTabela in personagens | filter:pesquisa"
                            id="linha{{personagensTabela.id}}"
                            ng-click="selecionaPersonagem(personagensTabela)">
                            <th scope="row" >{{personagensTabela.id}}</th>
                            <td>{{personagensTabela.nome}}</td>
                            <td>
                                <img style="width:50px;height:50px" ng-hide="{{personagensTabela.foto == null}}"
                                    src="{{personagensTabela.foto}}" />
                            </td>
                        </tr>
                        <tr ng-show="personagensTabela.show == true"  ng-repeat-end="">
                            <td colspan="3">
                                <div ng-show="(personagensTabela.golpes.length <= 0)" > Não Há Golpes Cadastrados para esse personagem</div>
                                    <div class="col-12">
                                        <span class="col-3" >
                                            <input  ng-model="pesquisagolpes.input" type="text" placeholder="input"/>
                                        </span>
                                        <span class="col-3" >
                                            <input  ng-model="pesquisagolpes.blockframes" type="text" placeholder="block frames"/>
                                        </span>
                                        <span class="col-3">
                                            <input  ng-model="pesquisagolpes.hitframes" type="text" placeholder="hit frames"/>
                                        </span>
                                        <span class="col-3">
                                            <input  ng-model="pesquisagolpes.chframes" type="text" placeholder="ch frames"/>
                                        </span>
                                    </div>
                                    <table class="col-md-12">
                                        <thead>
                                            <tr>
                                                <td>id</td>
                                                <td>input</td>
                                                <td>block frames</td>
                                                <td>hit frames</td>
                                                <td>ch frames</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="golpesTabela in personagensTabela.golpes | filter:pesquisagolpes"
                                                ng-click="selecionaGolpe(golpesTabela)">
                                                <td>{{golpesTabela.id}}</td>
                                                <td>{{golpesTabela.input}}</td>
                                                <td>{{golpesTabela.blockframes}}</td>
                                                <td>{{golpesTabela.hitframes}}</td>
                                                <td>{{golpesTabela.chframes}}</td>
                                                <td>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                <div class="card">
                                    <div class="card-body">
                                        <h1>Lista e cadastro de Golpes do {{personagemTabela.nome}}</h1>
                                        <form class="form-horizontal">
                                            <div class="form-group row">
                                                <label class="col-sm-2" for="input">ID</label>
                                                <div class="col-sm-10">
                                                    <input readonly type="text" ng-model="golpeSelecionado.input" class="form-control" id="input"  placeholder="Input">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2" for="blockframes">Nome Personagem</label>
                                                <div class="col-sm-10">
                                                    <input name="blockframes" required="Preencha o Campo" type="text" ng-model="golpeSelecionado.blockframes" class="form-control" id="blockframes"  placeholder="Nome Personagem">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2" for="hitframes">Password</label>
                                                <div class="col-sm-10">
                                                    <input name="hitframes" type="text" ng-model="golpeSelecionado.hitframes" class="form-control" id="hitframes" placeholder="Foto do Personagem">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2" for="fileChar">Password</label>
                                                <div class="col-sm-10">
                                                    <input name="chframes" type="text" ng-model="golpeSelecionado.chframes" class="form-control" id="chframes" placeholder="Foto do Personagem">
                                                </div>
                                            </div>
                                            <button class="btn btn-primary" ng-click="salvaGolpe()">
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                                </svg>
                                            </button>
                                            <button class="btn btn-primary" ng-click="excluirGolpe()">
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                                                </svg>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h1>Lista e cadastro de Personagens do Tekken 7</h1>
                <form class="form-horizontal">
                    <div class="form-group row">
                        <label class="col-sm-2" for="idChar">ID</label>
                        <div class="col-sm-10">
                            <input readonly type="text" ng-model="personagem.id" class="form-control" id="idChar"  placeholder="Nome Personagem">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2" for="nomeChar">Nome Personagem</label>
                        <div class="col-sm-10">
                            <input required="Preencha o Campo" type="text" ng-model="personagem.nome" class="form-control" id="nomeChar"  placeholder="Nome Personagem">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2" for="fileChar">URL FOTO</label>
                        <div class="col-sm-10">
                            <!--input type="file" ng-model="personagem.foto" class="form-control" id="fileChar" placeholder="Foto do Personagem"-->
                            <input type="text" ng-model="personagem.foto" class="form-control" id="fileChar" placeholder="Foto do Personagem">
                        </div>
                    </div>
                    <button type="submit" ng-disabled="personagem.nome == null"
                            ng-click="salvaPersonagem()" class="btn btn-primary">Cadastrar</button>
                    <button  type="submit" ng-click="limpaPersonagem()" class="btn btn-warning">Limpar</button>
                    <button type="submit" ng-click="excluirPersonagem()" class="btn btn-danger">Excluir</button>
                </form>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <!-- FOOTER -->
    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017-2020 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
</main>
